<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tentel Safety</title>
    <link rel="stylesheet" href="Styles/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapips.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  </head>
  <body>
    
    <header>
    <h1>TentelSafety</h1>
    </header>

<main>
  <section>
    
    <h2>Privacy Policy</h2>
      <p>fully effective from: 18.06.23</p>
      <p>recent edits: 09.01.24</p>

<hr>
    
    <p class="content">The user has the right to use TentelSafety absolutely free of charge, while all data remains confidential and is not disclosed to third parties (except in the following circumstances, subject to the Discord Developer Terms of Use and applicable laws and regulations: with a Service Provider; to the extent required by applicable laws or regulations; and when a Tentel user expressly instructs us to release their API Data to a third party (and we will provide confirmation to Discord upon request)).</p>
    <p class="content">By adding our bot to your server, you agree to the privacy policy.</p>
    <p class="content">When we mention "Tentel", "Our bot", "Bot" means what we mean TentelSafety.</p>
    
    <p class="titlecontent">What data does TentelSafety [ ! ] receive:</p>
    <p class="content">• ID servers and users where there is Tentel;</p>
    <p class="content">• ID channels and roles;</p>
    <p class="content">• Basic information about the User (e.g. status);</p>

    <p class="titlecontent">Additional Information:</p>
    <p class="content">The bot can create an invitation link to the Server;</p>
    <p class="content">The bot cannot write on behalf of users;</p>
    <p class="content">The bot does not share other people's information with Discord users;</p>
    <p class="content">The bot does not save the content of Discord users messages;</p>
    <p class="content">The bot scans the content of Discord users' messages with the permission of the authorized server staff;</p>

    <p class="titlecontent">Why TentelSafety collects this data:</p>
    <p class="content">• To save configurations;</p>
    <p class="content">• To track information for our purposes (for example, to detect malicious requests);</p>
    <p class="content">• So that the functionality of our bot does not lose the flexibility of work;</p>

    <p class="titlecontent">Information Hygiene</p>
    <p class="content">All information regarding the host machine, programming language and other details about the internal health of the bot is not distributed to ordinary Discord users due to special security measures.
Such information in the hands of an attacker can be useful, because there is some probability of any incidents and leaks that could affect leaks in the bot’s system; however, this anonymity gives us the advantage of hiding the bot's sensitive information, such as the token.</p>
    <p class="content">Details about the host machine, distribution version and any related information, programming language - all this is strictly confidential as part of our privacy policy. This information may be requested in certain cases when the Discord platform and its Security team requests any data.</p>
    
    <p class="titlecontent">Verification Data</p>
    <p class="content">User verification occurs due to heuristic analysis and server latency in bandwidth.</p>
    <p class="content">By clicking the button, the user agrees to the processing of these data: identification data, custom and activity status, user avatar.</p>
    
  </section>
</main>
    
 <div class="footer-dark" align="center">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="https://tentel-crew.github.io/tentelsafety-terms">Terms of Service</a></li>
                            <li><a href="https://tentel-crew.github.io/tentelsafety">Back</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="https://t.me/TentelCrew">Telegram</a></li>
                            <li><a href="https://discord.gg/MgWt7tmEAT">Discord</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>TentelSafety</h3>
                        <p>Safety, Functions, Trusted.</p>
                    </div>
                <p class="copyright">© Tentel Crew 2022-2024 • Not affiliated with Discord Inc.</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </div>

  </body>
</html>
